/*=================================================
||				Useful Links
==================================================*/
/*
|||||||||	Slider	|||||||||
|
|
*/

/*=================================================
||				Index 
==================================================*/
/*
|	1. Imports
|	2. Global
|	3. Colors
|
|	=============
|	SECTIONS
|	=============
|	4. Home
*/


/*=================================================
||				1. Imports 
==================================================*/
@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;800&family=Yellowtail&display=swap');

body
{
	font-family: 'Roboto', 'Open-Sans', sans-serif;
	overflow-x: hidden;
	color: #313131;
}
h1.header-title
{
	font-weight: 700;
	font-size: 35px;
	margin-bottom: 0px;
}
h2
{
	font-size: 30px;
	font-weight: 700;
    margin-bottom: 5px;
}
h3
{
	font-size: 20px;
	font-weight: 400;
	color: #444;
	margin-bottom: 5px;
}
a
{
	color: #313131;
}
a.red
{
	border-radius: 0px;
	background: #0196AC;
	color: #f1eeed;
	padding: 10px 30px;
	margin-right: 15px;
	border: 1px solid #0196AC;
	margin-bottom: 15px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
}
a.bttn
{
	border-radius: 0px;
	background: transparent;
	color: #f1eeed;
	padding: 10px 30px;
	margin-right: 15px;
	margin-bottom: 15px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
}
a.bttn:hover
{
	background: #0196AC;
	border-color: #0196AC;
	color: #f1eeed;
}
a:hover
{
	transition: all .6s;
	text-decoration: none;
}
.section-wrapper
{
	padding: 100px 0px;
}
.regular
{
	font-weight: 400;
}
/*=================================================
||				4. Home
==================================================*/
.home
{
	background: linear-gradient(45deg, #616161, #1c1c1c);
	height: 100%;
	color: #f1eeed;
	letter-spacing: 1px;
}
.header-img
{
	margin-left: -15px;
}
.header-wrapper
{
	padding: 10% 0%;
}
p.header-sub
{
	font-size: 24px;
	font-weight: 400;
	color: #a9a7a6;
}
.home .description
{
	font-size: 16px;
	font-weight: 100;
	margin: 33px 0px;
	line-height: 175%;
}

/*=================================================
||				5. Navbar
==================================================*/
.logo
{
	font-family: 'Dancing script', serif;
	display: inline-block;
	font-weight: 800;
	font-size: 28px;
}
.logo span
{
	color: #0196AC;
}
.logo:hover
{

}
.logo:hover span
{
	transform: rotateY(360deg);
	transition: all 1s;
}
.navigation .navbar-nav>li>a
{
	font-size: 18px;
	font-weight: 400;
	padding:15px 15px;
	margin: 0px 15px;
	border-bottom: 1px solid transparent;
}
.navigation .navbar-nav>li>a:hover
{
	border-bottom: 1px solid #0196AC;
}
.navigation
{
	box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
	background: #ebebeb;
	border-radius: 0px;
	padding: 8px;
	margin-bottom: 0px;
}
/*=================================================
||				6. Book
==================================================*/
.book
{
	position: relative;
	background: #ebebeb;
}
.book .col-sm-6
{
	z-index: 1;
}
.book h2
{
	margin-bottom: 20px;
}
.light
{
	color: #999;
	font-size: 24px;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 1px;
}
.body
{
	color: #444;
	font-weight: 400;
	font-size: 18px;
	margin-top: 20px;
}
.cta-1
{
	background-color: #0196AC;
	text-align: center;
	font-size: 30px;
	font-weight: 100;
	color: #f1eeed;
	padding: 50px 0px;
}


/*=================================================
||				8. Reviews
==================================================*/
h3.title
{
	display: inline-block;
}
.reviews
{
	background-color: #e3e3e3;
	padding-bottom: 125px;
}
.stars
{
	float: right;
}
.gain
{
	display: inline-block;
}
.gain, .review-gain
{
	color: #ffc107;
	font-size: 22px;
}
.review-gain
{
	margin: 10px 0px;
}
.not-gain
{
	color: #000;
	display: inline-block;
	font-size: 22px;
}
.reviewer
{
	border-radius: 100%;
	width: 100px !important;
	height: 100px;
	margin: 10px auto;
	background-color: #cacaca;
}
.item
{
	text-align: center;
	background-color: #f2f2f2;
	padding: 50px 30px;
	margin: 0px 15px;
	color: #444;
	margin-top: 60px;
}
.addr
{
	margin: 0px;
}
.details
{
	letter-spacing: 1px;
}
.owl-prev, .owl-next
{
	position: absolute;
	top: 47%;
	font-size: 22px;
	padding: 5px;
}
.owl-next
{
	right: -10px;
}
.owl-prev
{
	left: -10px;
}
.owl-prev:before
{
    content: "\f3d2";
    font-family: 'ionicons';
}
.owl-next:before
{
    content: "\f3d3";
    font-family: "ionicons";
}


/*=================================================
||				9. Blog
==================================================*/
.blogger
{
	border-radius: 100%;
}
.blog-left
{
	padding-right: 100px;
}
.blogger-id
{
	display: inline-block;
	margin-left: 20px;
	margin-top: 30px;
}
.blogger-title
{
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 10px;
}
.id, .place
{
	font-size: 24px;
	font-weight: 400;
}
.sub
{
	font-size: 24px;
	font-weight: 100;
	margin-bottom: 40px;
}
.place
{
	margin: 20px 0px 5px;
}
.book-icon
{
	word-spacing: 25px;
	font-size: 14px;
}
.book-icon .ion-android-compass
{
	color: #0196AC;
}
.blog .light
{
	margin: 20px 0px;
}

/*=================================================
||				10. cta-2
==================================================*/
.cta-2
{
	color: #f1eeed;
	background-color: #0196AC;
	padding: 50px 0px;
}
h4
{
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 5px;
}
.subt
{
	font-size: 24px;
	font-weight: 100;
}
.cta-2 .bttn
{
	margin: 21px auto;
	display: table;
}
.cta-2 .bttn:hover
{
	color: #0196AC;
	background-color: #f1eeed;
}

/*=================================================
||				11. Contact
==================================================*/
.contact
{
	background-color: #ebebeb;
}
.contact h2
{
	margin-top: 0px;
}
.address
{
	margin-bottom: 40px;
}
.address, .call
{
	line-height: 200%;
	font-size: 16px;
}
.address strong
{
	font-size: 18px;
}
.contactform label
{
	float:left;
}
.contactform .form-control
{
	margin-bottom:20px;
	border:1px solid #cbcbcb;
	height:45px;
}
.contactform textarea.form-control {
	height: 170px;
}

/* Inputs styles */
.contactform .form-control
{
	border-radius:0!important;
	;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.contactform .form-control:focus
{
	-webkit-box-shadow:none;
	box-shadow:none;
	border:1px solid #0196AC;
}

.btn-send
{
	transition: all 0.4s;
	border-radius: 0;
	width: 100%;
	background:  #0196AC;
	color: #f1eeed;
	padding: 10px 30px;
	margin: 5px auto;
	border: 1px solid transparent;
}

.btn-send:hover
{
	background: #f1eeed;
	color: #0196AC;
	border-color: #0196AC;
}

button,button:focus,button:hover,button:active
{
	outline: none!important;
}

/*=================================================
||				12. Footer
==================================================*/
footer
{
	padding: 15px 0px;
	color: #000;
	font-size: 16px;
	background-color: #e3e3e3;
}
.social-icons
{
	word-spacing: 20px;
}
.themewagon{
	text-align: right;
}

/*=================================================
||				13. Media Query
==================================================*/
@media (max-width: 992px){
	.book .section-wrapper{
		padding-left: 15px;
		padding-right: 15px;
	}

	footer{
		text-align: center;
	}
	.themewagon{
		text-align: center;
	}
}
@media (min-width: 768px){
	.home .home-bg{
		background: url('../images/home1.jpg') no-repeat ;
		background-position: left bottom;
		width: 100%;

		height: 100%;
	}
	/* .book .book-bg img{ */
		/* background: url('../images/book1.jpg') no-repeat;
		background-position: right ; */
		/* width: 100%; */
		/* margin-left: 8px;
		margin-top: 10px;
		height: 100%;
	} */
	
}

.book .book-bg img{
	/* background: url('../images/book1.jpg') no-repeat;
	background-position: right ; */
	/* width: 100%; */
	margin-left: 0px;
	margin-top: 10px;
	height: 100%;
}


@media (max-width: 990px){
	.book .book-bg img{
		width: 100%;
	
		/* background-position: right bottom; */
	}
}



@media (max-width: 1200px){
	.book .book-bg{
		width: 100%;
	
		/* background-position: right bottom; */
	}
}

@media (max-width: 768px){
	.header-wrapper{
		padding-top: 15%;
	}
	.blog{
		text-align: center;
	}
	.blog-left{
		padding: 0 15px;
		text-align: center;
	}
	.contact{
		text-align: center;
	}
}
@media (max-width: 320px){
	.header-wrapper{
		padding: 0;
	}
	.home .description{
		margin: 15px 0;
		font-size: 14px;
		padding-right: 15px;
	}
	

}

.book_img
{
	width: 200px !important;
	border-radius: 8px;
	margin: 10px auto;
	background-color: #cacaca;

}

.books
{
	text-align: center;
	margin: 0;
	margin-top: 40px;
	margin-bottom: 40px;
}

.book-title{
	margin-top: 20px;
}

.get-button{
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	display: block;
	margin-left: 0;
	margin-right: 0;
}

/* ===================================
        stats section css
====================================== */

/* .stats-sec .stats-heading-area .sub-heading{
    font-family: Roboto, sans-serif;
    font-size:18px;
    color: #202020;
    font-weight: 400;
    margin-bottom: 20px;
}
.stats-sec .stats-heading-area .heading{
    color: #202020;
    margin-bottom: 30px;
}
.stats-sec .stats-heading-area .text{
    color: #202020;
    opacity: .7;
    width: 55%;
    margin: 0 auto;
} */
/*-------------------------------*/
/* Circle Progress*/
/*-------------------------------*/
/* .stats-sec .circular-wrap{
    padding-top: 100px;
}
.stats-sec .circular-wrap .circle{
    position: relative;
    max-width: 210px;
    display: inline-block;
}

.stats-sec .circular-wrap .circle .counter-num {
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: normal;
    font-weight: normal;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.stats-sec .circular-wrap .circle .counter-num {
    color: #202020;
    font-size: 1.875rem;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

.stats-sec .circular-wrap h4.darkcolor{
    max-width: 184px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    color: #202020;
    font-size: 20px;
    opacity: .7;
    margin-top: 30px;
} */